   h1  { 
    color: red;
    text-transform: uppercase;
    text-align: center;
  }
pre, hr {

color: rgb(131, 131, 255);
font-size: 2em;
line-height: 2em;
line-break: normal;
text-align: center;

}
html{
background-image: url(blackback.jpg);
background-repeat:repeat;


color: aliceblue;
}
#opa{
text-align: center;
font-size: 70px;
color: #7bd5ff50;
}
#red{
background-color: rgba(220, 20, 60, 0.541);
width: 250px;height: 250px;
margin: auto;
}
#blue{
background-color: rgba(0, 0, 139, 0.541);
position: relative;
top: -125px;right: -125px;
width: 250px;height: 250px;
margin: auto;
}
img{

vertical-align: bottom;

}
#imgtt{
font-size: 200%;
color: blueviolet;
vertical-align: middle;

}
#marvel{
text-decoration: overline;
text-transform: uppercase;
letter-spacing: 20px;

}

blockquote{
text-indent: 50px;
}

blockquote::first-letter{
font-size: 50px;
color: rgb(177, 94, 255);
}
caption{
background-color: rgb(255, 27, 72);
}
th{
background-color: rgb(241, 91, 121);
}
#WEBID{
font-size: 100px;
text-decoration: none;
color: #0400ff;
}



#WEBID:hover{
color: goldenrod;
}
#WEBID:active{
color: rgb(0, 255, 0);

}
#WEBID:focus{
color: rgb(243, 0, 252);
}
#subs {
background-color: rgb(47, 0, 255);

}
#subs:hover{
background-color: rgb(255, 57, 96);
}
#subs:active{
background-color: darkolivegreen;
}
#subs:visited{
background-color: rgb(41, 146, 0);
}
#boxes {
  margin: auto;
  width: 70%;
  background-color: rgb(26, 15, 15);
  min-width: 700px;
  max-width: fit-content;
  min-height: 50%;
  max-height: 80%;
  overflow-x: hidden;
}
#border {
  margin: auto;
  width: 60%;
 background-image: url(bck.jpg);
  border-width: 3px 3px 3px 10px;
  border-style: solid solid solid dashed;
  border-color:rgb(0, 102, 255) rgb(0, 102, 255) rgb(0, 102, 255) rgb(0, 0, 138);
  padding: 10px;
  color: black;
  font-size: 1.1em;
  font-weight: 600;
}
#DISPBUTTON {
  width: 85%;
 border: 3px solid rgb(66, 57, 57);
 padding: 15;
 margin: auto;
 box-shadow: rgb(233, 207, 63)  0px 0px 3px 2px ;
 border-radius: 5px;
}
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

#inline:hover {
  background-color: rgb(19, 18, 18);
  font-size: 1.2em;
  transition-duration: 0.3s;
 
}
#butt {
  background-color: rgb(77, 77, 255);
  height: 50px;
  border-radius: 3px;
}
#inline {
   display: inline-block;
   height: 50px;
   padding: 0px 15px;
   line-height: 50px;
   border-radius: 3px 0px;
 }
 #sq {
  list-style-type: square;
 
}
#di {
  list-style-type: disc;
}
#num {
  list-style-type: decimal;
}
table {
  width: 85%;
  border: 3px groove red;
  border-collapse: collapse;
}
th, td {
  border: 1px solid crimson;
  padding: 5px;

}
#time {
  background-color: darkslategray;
  text-transform: uppercase;
}
.day {
  text-align: center;

}
fieldset {
  border: 5px ridge rgb(73, 3, 3);
  width:60%;
  background-image: url(bck.jpg);
  margin: auto;
  border-radius: 5px;
  padding-left: 100px;
  

 
}

legend {
  background-color: rgb(63, 2, 2);
  border-radius: 15px;
  padding: 15px;
  margin-left: -60px;
 
}
.asds {
  text-align: center;
  
}
label {
  color: rgb(10, 9, 9);
  text-transform: uppercase;
  font-size: 1.2em;
  font-family: fantasy;
}
#a1 , #a2 {
  background-color: rgb(51, 45, 45);
  padding: 10px;

}
#p1  , #p2 {
  background-color: rgb(0, 74, 77);
  position: relative;
  left: 30px;
  padding: 10px;

}
span {
  background-color: darkcyan;
  
}
.box {
  position: relative;
  height: 300px;
  width: 300px;  
 margin-left: 20px;
 
}
